$dark-color: hsla(228, 6%, 16%, 1);

$ocean-blue: hsla(203%, 94%, 39%, 1);
$sky-blue: hsla(201%, 54%, 69%, 1);
$yellow: hsla(49%, 91%, 48%, 1);
$mandarin: hsla(16%, 88%, 62%, 1);
$red: hsla(359%, 58%, 61%, 1);